$White: rgb(255,255,255);
$Black: rgb(0,0,0);
$bgWhite: rgb(255, 255, 255);
$BlueMarine: rgb(21, 24, 39);
$Cyan: rgb(52, 191, 152);
$LightGreen: rgb(95, 211, 178);
$darkLight: rgb(204, 204, 204);
$bgMenus: rgb(255,255,255);
$bgMenus2: rgb(255,255,255);
$btnGeral: rgb(236, 236, 236);

.site {
  text-decoration: none !important;
  color: #9F9F9F;
  font-weight: lighter;
}

#img-footer {
	height: 150px;
	width: 150px;
	margin-left: 30px;
}

#mapaSite {
	padding: 50px;
	color: white;
	font-size: 13px;
}

#newsletters {
  color: white;
  padding: 50px;
}

#social {
  text-decoration: none;
  color: white;
  padding: 50px;
}

.test {
  color: red !important;
  text-decoration: none !important;
}

.btnSubmit {
  background: #34bf98;
  text-decoration: none;
  font-size: 13px;
  color: #ececec;
  cursor: pointer;
  border-radius: 50px;
  border: 3px solid rgba(254, 254, 254, 0.5);
  padding: 6px 30px;
  animation: fadeIn ease 3s;
}

.btnSubmit:hover {
  color: white;
  background: #31ad8a;
  transition: 0.3s;
}

.btnReset {
  background: #fa6383;
  text-decoration: none;
  font-size: 13px;
  color: #ececec;
  cursor: pointer;
  border-radius: 50px;
  border: 3px solid rgba(254, 254, 254, 0.5);
  padding: 6px 20px;
  animation: fadeIn ease 3s;
  margin-left: 5px;
  margin-bottom: 10px;
}

.btnReset:hover {
  color: white;
  background: #d95571;
  transition: 0.3s;
}

.containerContato {
  margin: 50px;
  background-color: $bgMenus2;
  border-radius: 60px;
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contato {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-contato {
  width: 350px;
  height: 350px;
  padding-left: 80px;
  padding-right: 40px;
}

.form-contato {
  display: block;
  text-align: center;
  padding: 10px 30px 10px 20px;
}

.containerSobre {
  margin: 50px;
  background-color: $bgMenus2;
  border-radius: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: fadeIn ease 1s;
}

.msgSobre {
  text-align: left;
  padding-right: 50px;
}

.servicos {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicos2 {
  height: 20vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.verMais {
  text-decoration: none !important;
  font-size: medium !important;
  font-weight: bold;
  color: $BlueMarine !important;
  text-decoration: none !important;
  padding: 15px;
  font-size: 13px;
}

.verMais:hover {
  color: $Cyan;
  transition: 0.3s;
}

.banner-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  width: 100%;
  min-height: 85vh;
}
.banner-animation {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  animation: fadeIn ease 2s;
}
#balao {
  position: absolute;
	width: 700px;
	height: 500px;
	z-index: 4;
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
#balao2 {
	position: absolute;
	width: 700px;
	height: 500px;
	z-index: 3;
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
#balao3 {
  position: absolute;
	width: 700px;
	height: 500px;
	z-index: 2;
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 13s;
  animation-iteration-count: infinite;
}
#nuvem1 {
  position: absolute;
	width: 700px;
	height: 500px;
	z-index: 1;
  animation: FadeIn 6s ease-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-name: Float, FadeFloat;
  object-fit: contain;
}

#nuvem2 {
  position: absolute;
	width: 700px;
	height: 500px;
	z-index: 0;
  animation: FadeIn 4s ease-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-name: Float2, FadeFloat;
  object-fit: contain;
}

#nuvem3 {
  position: absolute;
  width: 700px;
  height: 500px;
  z-index: -4;
  animation: FadeIn 5s ease-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-name: Float3, FadeFloat;
  object-fit: contain;
}

.btnScroll {
  background: $Cyan;
  text-decoration: none !important;
  font-size: 13px;
  color: $btnGeral !important;
  border-radius: 50px;
  border: 3px solid rgba(254, 254, 254, 0.5);
  padding: 10px 40px;
  animation: fadeIn ease 3s;
}

.btnScroll:hover {
  color: white;
  box-shadow: 0 0px 15px rgba(52, 191, 152, 0.5);
  transition: 0.3s;
}

#anuncio {
  font-size: 40px;
  color: rgb(21, 24, 39) !important;
  margin-left: 60px;
  animation: fadeIn ease 2s;
}

.container-prod {
  text-align: center;
  margin: 50px;
  background-color: $bgMenus2;
  border-radius: 60px;
  width: 300px;
  height: 380px;
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.5);
}
html{
  scroll-behavior: smooth;
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #cccccc;
}

::-webkit-scrollbar-thumb {
  background: #5fd3b2;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #34bf98;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes Float {
  from { transform: translateX(0%) translateZ(0); }
  to { transform: translateX(60%) translateZ(0); }
}

@keyframes Float2 {
  from { transform: translateX(5%) translateZ(0); }
  to { transform: translateX(-60%) translateZ(0); }
}

@keyframes Float3 {
  from { transform: translateX(0%) translateZ(0); }
  to { transform: translateX(40%) translateZ(0); }
}

@keyframes FadeFloat {
  0%, 100% { opacity: 0; }
  5%, 90% { opacity: 1; }
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
#div-main{
  background-image: url('~/static/img/bg.png') !important;
  background-repeat: repeat;
}
